/**
    Theme Name: Autoecole du Coin
    Description: Thème personnalisé pour l'auto-école
    Author: Christine
    Author URI: https://codecolliders.com
    Requires at least: 5.0
    Requires PHP: 7.4
    Template: generatepress
    Version: 0.1
    License: GNU GPL v2
 */

.formateur-container, .formateur-infos{
    display: grid;
    grid-gap: 25px;
}
.formateur-container article, .archive-container{
    width: 100%;
    text-align: center;
}
.formateur-container img{
    width: 100%;
}
.formateur-container h2{
    font-size: 21px;
}
@media screen and (min-width: 640px) {
    .formateur-container, .formateur-infos{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px) {
    .formateur-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
